<div class="theatre-control-group">
  <div class="theatre-control-nav-bar no-scrollbar">
  </div>
  <a class="button" id="theatre-btn-add-selected-token" title="{{localize "Theatre.UI.Title.AddSelectedTokens"}}" style="margin: 0px 4px;">
    <i class="fas fa-crosshairs"></i>
  </a>
  <a class="button" id="theatre-btn-clear-stage" title="{{localize "Theatre.UI.Title.ClearStage"}}" style="margin: 0px 4px;">
    <i class="fas fa-eraser"></i>
  </a>
</div>